.grid {
  display: grid;
  grid-template-columns: 80px 150px 200px 250px 400px 100px 120px;
  gap: 1px;
  background-color: #1f2a30;
  color: white;
}

.grid > div {
  background-color: #2a3a42;
  padding: 10px;
  border-bottom: 1px solid #1f2a30;
}

.header {
  font-weight: bold;
  background-color: #162024;
}

.bodyselect{
  height: 20px;
  font-size: 20px;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  
}

.select:hover{
 border-color: black;
}

.field {
  height: 35px;
  padding: 10px 12px;
  font-size: 12px;

  background-color: #413c3c;
  color: white;

  border: 1px solid #555;
  border-radius: 8px;

  
  box-sizing: border-box;
}

.select {
  appearance: none;
}


.textarea {
  display: block;
  width: 50%;
  max-width: 900px;
  min-height: 80px;
  margin: 8px auto; /* centrer og giv luft */
  resize: vertical;
  line-height: 1.4;
}

.textarea:hover{
  border-color: black;
}


.buttoncontainer{

  display: flex;
  padding: 20px;
  row-gap: 20px;
  justify-content: center;
  gap: 20px;

}





