.divContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 16px;
    padding: 50px 50px 30px
}

label {
    font-weight: bold;
    color: black;
}

input {
    padding: 6px 6px 6px;
    margin-top: 6px;
    margin-bottom: 30px;
}

input:hover {
    border: 1px solid black;
}

button {
    background-color: black;
    color: white;
}

button:hover {
    background-color: green;
    font-style: italic;
}

.error {

    color: red;
    border-bottom: 2px solid rgb(188, 60, 60);
}