.table {
  display: grid;
  grid-template-columns: 150px 250px 250px 250px 200px;
  margin: 20px auto;
  border: 2px solid #1f2a30;
  
  background: #1f2a30;
  color: white;

  row-gap: 15px;
  width: fit-content;
}

.header {
  background: #1f2a30;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #2b3a42;
}

.cell {
  padding: 7px;
  border-bottom: 1px solid #2b3a42;
  
}

.method {
  font-weight: bold;
  color: white;
}

.faded {
  opacity: 0.5;
}

.errors {
  display: grid;
  margin-top: 20px;
  padding: 10px;
  background: #182229;
  border-left: 4px solid #4ca3dd;
}

.errors p {
  margin: 5px 0;
  color: #d0d8df;
}
