.userContainer {
padding: 16px;
}

.userTable {
width: 100%;
border-collapse: collapse;
background-color: lightslategray;

}


.userTable tr {

border: 2px solid black;

}

.userTable td {
   text-align: left;
    color: white;
    padding: 8px;
    background-color: #333;

}

.userTable th {
    text-align: left;
    color: white;
    padding: 8px;
    background-color: #333;
}

.userText {
    color: #8B0000;
    margin-right: 20px;
}

.deleteContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.popup {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px #333;
}