/* Ydre wrapper – kun til centrering */
.wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

/* Selve formularen */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  width: 100%;
  max-width: 900px;
}

/* Fælles input / select / textarea */
.field {
  height: 44px;
  padding: 10px 12px;
  font-size: 16px;

  background-color: #2b2b2b;
  color: #ffffff;

  border: 1px solid #555;
  border-radius: 8px;
  outline: none;
}


.bodyselect{
  height: 67px;
  padding: 22px 12px;
  font-size: 16px;
  margin-top: 5px;

  background-color: #2b2b2b;
  color: #ffffff;

  border: 1px solid #555;
  border-radius: 8px;
  outline: none;
}

.bodyselect:hover{
  border-color: black;
}

/* Placeholder */
.field::placeholder {
  color: #9a9a9a;
}

/* Stor instructions */
.instructions {
  grid-column: span 2;
  height: 140px;
  resize: vertical;
}

.instructions:hover{
  border-color: black;
}

/* Knap nederst – fuld bredde */
.form button {
  grid-column: span 2;
  height: 48px;

  background: #000;
  color: #fff;
  font-size: 16px;

  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Hover-effekt */
.form button:hover {
  background: #111;
}
