.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333; 
  color: #ffffff;
  padding: 8px 8px 8px 0px; 
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  @media (max-width: 768px) {
    padding: 12px 16px; 
    flex-direction: column;
    align-items: flex-start;
  }
}

.header nav {
  display: flex;
  align-items: center;
  width: 100%;

}

.header nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 12px;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
        color: #ffcc00; 
    }
}

.active {
    border-bottom: 2px solid red;
    padding-bottom: 4px;
}

.links {
  display: flex;
  gap: 16px;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  gap: 14px;
}

.login button {
  border: 1px solid white;
  cursor: pointer;
  color: white;
}

.login button:hover {
  background-color: #ffcc00;
}

.toTheRight {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 16px; 
}

@media (max-width: 768px) {
  .toTheRight {
    margin-left: 0;
    margin-top: 8px;
  }
}
