.container{
    
    border-width: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-top: 50px;

}


.background{
    border-width: 3px;
    width: 45%;

}


.motivation{
    border-width: 3px;
    width: 45%;
    margin-left: auto;
}


.vision{
    border-width: 3px;
    width: 50%;
    margin-left: 25%;
    padding-top: 4%;
}